body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container1 {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.container1 textarea {
    min-width: 900px;
    padding: 10px;
    min-height: 200px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}